NODE_ENV=development
PORT=3000

MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_DB=popcard
MONGODB_URI=mongodb://admin:secret@mongo:27017/popcard?authSource=admin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_MAX_REQUESTS=10


JWT_SECRET=0bb0afbae256d1e9c4b31311a1fec4fc

GEMINI_API_KEY=AIzaSyAxCjLCvC10RzHhNRv9C9A-zX3hAgyiW0c

MAX_FILE_SIZE_MB=5