PORT=3100
NODE_ENV=development 

MONGODB_URI=mongo-uri

REDIS_HOST=redis-host
REDIS_PORT=port

REDIS_PASSWORD=redis-pwd-if-needed               

JWT_SECRET=jwt-SK


GEMINI_API_KEY=gemini-api-key

MAX_FILE_SIZE_MB=5