NODE_ENV=development
PORT=3000

MONGO_USER=user
MONGO_PASSWORD=secret
MONGO_DB=db
MONGODB_URI=mongodb://user:secret@db:27017/db?authSource=admin

REDIS_HOST=redis
REDIS_PORT=port
REDIS_PASSWORD=secret

RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_MAX_REQUESTS=10


JWT_SECRET=jwt-SK


GEMINI_API_KEY=gemini-api-key

MAX_FILE_SIZE_MB=5
